@font-face {
    font-family: "custom-icon";
    /* Project id  */
    src: url('iconfont.ttf?t=1710727535185') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-custom {
    font-family: "custom-icon";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xinxi::before {
    content: "";
}