---
permalink: /resources
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ri4rover</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/CustomCSS.css" rel="stylesheet">
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include navigation.html %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Resources</h1>
                    </div>                        
                </div>
                <div class="container resources-text">
                    <ul>
                        <li>
                            <a href="http://gazebosim.org/">Gazebo Robot Simulator</a>  
                        </li>
                        <li>
                            <a href="https://microsoft.github.io/AirSim/">AirSim Simulator</a>
                        </li>
                        <li>
                            <a href="https://px4.io/">Open Source Autopilot for Drones - PX4 Autopilot</a>
                        </li>
                        <li>
                            <a href="http://www.holybro.com/product/px4-vision/">Purchase PX4 Vision</a>
                        </li>
                        <li>
                            <a href="https://docs.px4.io/master/en/complete_vehicles/px4_vision_kit.html">PX4 Vision Autonomy Development Kit</a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        <!-- Footer-->
        {% include footer.html %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
