<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto text-center">
                <div class="small m-0 text-white">Copyright &copy; Ri4rover</div>
            </div>
            <div class="col-auto  text-white small">
                National Science Foundation award numbers: CNS 2120430, 2119115, 2120333, 2120322
            </div>
            <div class="col-auto  text-white small">
                Maintained by <a href="https://purduehelps.org/">Cam2 </a> Team
                <span class="text-white mx-1">&middot;</span>
                Designed by <a href="#!">StartBootstrap</a>
            </div>
        </div>
    </div>
</footer>